/* Remove default browser spacing */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */

body {
    background-color: #877db6;
    font-family: Arial, sans-serif;
 border-radius: 5px;
    color: rgb(36, 9, 90);
}


/* Navigation */

.top nav{

display: flex;


}
nav {

   position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    border-radius: 20px;

    
}

/* SABA name */

nav h2 {
background-color: #7a76ea;
    color: rgb(36, 9, 90);
cursor: pointer;
 border-radius: 5px;
margin-right: 150%;
display: block;
}

.top-nav{
display: flex;
gap: 25px;
list-style: none;
}

.top-nav a{
  display: block;
padding: 10px 1px;
background-color: #7a76ea;    
border-radius: 10px;
font-weight: bold; 
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
list-style: none;
}

.top-nav a:hover{
    background-color: violet;
  
}

/* Navigation list */

nav ul {
    display: flex;

    gap: 25px;

    list-style: none;
}


/* Navigation links */

nav a {
   
 color: rgb(36, 9, 90);
    text-decoration: none;
    cursor: pointer;

    font-size: 16px;
}


/* When mouse goes over link */

nav a:hover {
    text-decoration: underline;
}


/* Home section */

.home {
    min-height: 500px;

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 80px;

    padding: 60px 30px;
    cursor: pointer;

}


/* Image container */

.image img {
    width: 250px;

    height: 250px;

    object-fit: cover;
   display: flex; 
   flex-direction: column; 
   align-items: center;
   border-radius: 50%;
    cursor: pointer;
font-weight: bold;
margin-bottom: 10px;
}


/* Introduction */

.intro {
    max-width: 500px;

}


/* Small introduction text */

.intro p:first-child {
    font-size: 20px;
    cursor: pointer;

}


/* Main name */

.intro h1 {
    font-size: 50px;

    margin: 10px 0;
    cursor: pointer;

}


/* Job title */

.intro h2 {
    margin-bottom: 20px;
    cursor: pointer;

}


/* General sections */

section {
    padding: 70px 50px;

    text-align: center;
    cursor: pointer;

}


/* About */

#about {

 background-color: #7a76ea;
 border-radius: 20px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}


#about p {
    max-width: 700px;

    margin: 15px auto;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}


/* Projects */

.projects {
    display: flex;

    justify-content: center;

    gap: 25px;

    margin-top: 30px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}


/* Individual project */

.project1 {
    width: 250px;

    padding: 25px;

   background-color: #7a76ea;
 border-radius: 20px;
    border-radius: 10px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}
.project1:hover{
background-color: violet;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;

}

/* Project heading */

.project1 h3 {
    margin-bottom: 15px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}
/*-------------------------------------------------------*/
.project2 {
    width: 250px;

    padding: 25px;

   background-color: #7a76ea;
 border-radius: 20px;
    border-radius: 10px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}
.project2:hover{
background-color: violet;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;

}

/* Project heading */

.project2 h3 {
    margin-bottom: 15px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;

}
/*-------------------------------------------------------*/

.project3 {
    width: 250px;

    padding: 25px;

   background-color: #7a76ea;
 border-radius: 20px;
    border-radius: 10px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}
.project3:hover{
background-color: violet;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;

}

/* Project heading */

.project3 h3 {
    margin-bottom: 15px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;

}

/*-------------------------------------------------------*/

/* Contact */

#contact {
    background-color: #7a76ea;
border-color: black;
    border-radius: 20px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}

#SocialMedia {
    background-color: #7a76ea;
padding: 10px;
    border-color: black;
    border-radius: 20px;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}


/* Footer */



/*feedback*/
table{
    width: 80%;
    margin: auto;
    border-collapse: collapse;  
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}
th{
    border: 1px solid black;
    padding: 12px;
    text-align: center;
    cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}

/*feedback*/

.form{
width: 90%;
max-width: 600px;
margin: 30px auto;
padding: 30px;
  border-radius: 15px ;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}
.form label{
display: block;
text-align: center;
margin-top: 15 px;
margin-bottom: 6 px;
font-weight: bold;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}

.form input, select , textarea {
   
    width: 100%;
    padding: 12px;
    border: 12px;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}
.form textarea{

    color: black;
    height: 120px;
    resize: vertical;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}
.form button{
margin-top: 20px;
padding: 12px 30px;
border: none;
border-radius: 8px;
background-color: chartreuse;
box-shadow: black 0px 0px 10px;
font-weight: bold;
font-size: 15px;
cursor: pointer;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}
button:hover{
    background-color: violet;
    
    animation: ease-in-out;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}

#darkmode{
border-radius: 10px;
background-color: #7a76ea;
 box-shadow: black 0px 0px 10px;
}
#darkmode:hover{
background-color: violet;
    animation: ease-in-out;
box-shadow: rgb(36, 9, 90) 0px 0px 10px;

}
footer {
    padding: 20px;
font-weight: bold;
    text-align: center;
 border-radius: 20px;
    background-color: #5651e2;
 color: rgb(36, 9, 90);
box-shadow: rgb(36, 9, 90) 0px 0px 10px;
}

.userlogin{
font-weight: bold;

}



.intro p:first-child {
    animation: appear 1s ease;
}

.intro h1 {
    animation: appear 1.3s ease;
}

.intro h2 {
    animation: appear 1.6s ease;
}

.intro p:last-child {
    animation: appear 1.9s ease;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* mobile responsive*/
@media (max-width:768px) {

    
}
.resume{
color: rgb(36, 9, 90);
font-family: Arial, Helvetica, sans-serif;
font-size:larger;
font-weight: bolder;
}